<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Congratulations <%= @user.username %> ! Your project has been accepted.</h1>
    <p>
      We are glad to inform you that your project <%= @proposal.title %> has been accepted<br/>
    </p>
    <p>
      please go here to view it : <%= @url %> and publish it to the world .
    </p>
    <p>Cheers!</p>
    <p>The Jue.so Team</p>
  </body>
</html>