<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @user.username %> ! We'd like to know more about your project.</h1>
    <p>
      We have read your project <%= @proposal.title %> with attention, could you bring some precisions ?<br/>
    </p>
    <p>
      Please go here to edit it : <%= @url %>.
    </p>
    <p>Cheers!</p>
    <p>The Jue.so Team</p>
  </body>
</html>