<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> <%= @user.username %>, Your project has been rejected.</h1>
    <p>
      We are sorry to inform you that your project <%= @proposal.title %> has been rejected<br/>
    </p>
    <p>
      you still can view it here : <%= @url %>
    </p>
    <p>Best</p>
    <p>The Jue.so Team</p>
  </body>
</html>