$('#left').prepend('<div id="update"></div>');
$("#update").html("<%= escape_javascript(render('updates/form')) %>");

$("#update_submit").click(function(){
	$('#new_update')			
			.bind('ajax:success', function(data, status, xhr) {
				$('#update').fadeOut('slow', function() {
					$('#left').prepend('<p class="succes">Project Updated</p>');
				});
				
				/* Add the new update to the top of the comments list */
				$("#updates .list").prepend("<%= escape_javascript(render(@update)) %>");

				/* Highlight the new update */
				$("#update-<%= @update.id %>").effect("highlight", {}, 3000);

			})
})