/* Global layout jue.so */

#wrap {
	margin:0 auto;
	width:960px;
}

header.top {
	margin:30px 0;
}

#left {
	float:left;
	width:65%;
	padding-right:5px;
}

#right {
	float:right;
	width:30%;
}

footer.footer {
	margin:0 auto;
	width:960px;
	height:200px;
}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}