<%= link_to 'Edit project', edit_profile_project_path(@project), :class =>'edit' %>
<%= link_to 'View project', project_path(@project), :class =>'show' %>

<div id="left">
<%= @project.video_link.html_safe %>
</div>
<div id="right">
<%= @project.description %>
</div>