<div class="clear"></div>
<footer class="bottom">
<p>(c) 2011 Copyright Jue Studio Shanghai</p>
  <nav class="round">
    <ul>
		<li><%= link_to 'Faq', faq_path %></li>
		<li><a href="#">项目合作</a></li>
		<li><%= link_to "关于觉", 'about_path' %></li>
		<li><%= link_to "联系我们", 'contact_path' %></li>
		<li><a href="#">免费声明</a></li>
		<li><a href="#">帮助中心</a></li>
    </ul>
  </nav>
</footer>
